<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-title style="text-align: center;"><h3><b style="background-color: deepskyblue;">เกี่ยวกับฉัน</b></h3></ion-title>
  <p style="text-indent: 5%;">นางสาวอลิชา รัตนศรีบัวทอง</p>
  <p style="text-indent: 5%;">เกิดวันอังคารที่ 22 กรกฎาคม พ.ศ.2551</p>
  <p style="text-indent: 5%;">งานอดิเรก : ฟังเพลง, เล่นเกม, วาดรูป</p>
  <p style="text-indent: 5%;">สีที่ชอบ : สีขาวและสีฟ้า</p>

</ion-content>
