<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <br>
  <ion-title style="text-align: center;"><h3><b style="background-color: deepskyblue;">ช่องทางการติดต่อ</b></h3></ion-title>
  <p style="text-indent: 5%;">เบอร์โทร : 090 927 1749</p>
  <p style="text-indent: 5%;">Instagram : 0722ar</p>
  <p style="text-indent: 5%;">Facebook : อลิชา รัตนศรีบัวทอง</p>
  <p style="text-indent: 5%;">Id Line : alicha_ice</p>

</ion-content>
